.result {
    position: absolute;
    top: 50vh;
    width: 100%;
}
.scan {
    margin-top: 10px;
    cursor: pointer;
}

.item_container {
    text-align: left;
    width: 100%;
    .item {
        text-align: center;
        max-width: 100%;
        font-size: 22px;
        .item_image {
            width: 100%;
            img {
                width: 80%;
            }
        }
    }
}
